body {
    font-family: Arial, sans-serif;
    background: #b4b4b4;
}

h1 {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}